.basketContainet {
    display: flex;
    margin: 10px;
}

.leftPiece {
    width: 90%;
}

.rightPiece {
    width: 35%;
    height: 80vh;
    border: 1px solid;
    position: sticky;
    top: 5%;
    padding: 20px;
}

.sumAllProduct {
    font-size: 32px;
    font-weight: 700;
}

.title {
    font-weight: 700;
    font-size: 32px;
}

.prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1000px;
    padding: 25px;
    margin-bottom: 20px;
    border: 2px solid;

    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        mix-blend-mode: multiply;
    }
}

.xzchto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

    div {
        font-weight: 600;
        font-size: 24px;
    }

    span {
        color: rgb(2, 133, 2);
        font-size: 36px;
    }
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 18px;

    div:nth-of-type(2) {
        font-weight: 800;
    }
}

.info {
    width: 250px;


    div {

        line-height: 1.5em;
    }

    p {
        font-weight: 1000;
        font-size: 20px;
    }
}

.delete {
    cursor: pointer;
}

.action {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        padding: 10px;
        user-select: none;
    }

    span:first-of-type {
        background-color: #ccc6c6;
    }

    span:nth-of-type(2) {
        background-color: #aeaeae;
    }
}

.buttonZakaz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;

    a {
        background-color: #27c304;
        padding: 20px 50px;
        border-radius: 15px;
        color: #fff;
    }
}

@media (max-width: 953px) {
    .sumAllProduct {
        font-size: 24px;
    }

    .xzchto {

        div:nth-of-type(1) {
            font-size: 20px;
        }
    }

    .buttonZakaz {


        a {
            padding: 20px 10%;
        }
    }

    .delivery {
        display: block;
    }

    .prod {
        width: 90%;
    }

    .leftPiece {
        width: 80%;
    }
}


@media (max-width: 768px) {
    .basketContainet {
        display: block;
        margin: 10px;
    }

    .leftPiece {
        width: 100%;
    }

    .prod {
        width: 100%;
        
    }

    .rightPiece {
        width: 100%;
    }
}
