.productBlock {
    margin: 20px;
}

.img {
    width: 150px;
    height: 150px;
    margin: 10px 0;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.allProduct {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    white-space: nowrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 200px;
    height: 360px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    flex: 1 1 calc(33.333% - 20px);
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-self: flex-start;
    margin-top: 5px;
}

.title {
    width: 100%;
    font-weight: 700;
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    text-align: center;
    cursor: pointer;
}

.desc {
    font-weight: 500;
    font-size: clamp(0.7rem, 2vw, 1.2rem);
}

.price {
    font-weight: 800;
    font-size: 24px;

}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;

    a {
        cursor: pointer;
        border-radius: 16px;
        padding: 10px 10%;
    }
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    opacity: 1;
    background-color: #04b70a;
    transition: all 0.5s ease;
    border: none;
    color: #fff;
}

.buy:hover {
    opacity: 0.6;
}

.linkTitle {
    text-decoration: none;
    color: rgb(95, 92, 92);
}


.cart {
    padding: 5px 10px;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #fff;
    color: #04b70a;
    border: 1px solid #04b70a;
}

.cart:hover {
    opacity: 0.6;
}


@media (max-width: 950px) and (min-width: 768px) {
    .buttons {

        a {
            padding: 10px 5%;

        }
    }
}